{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      <!-- List the todo items here -->
      <table style="width:100%">
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Title</th>
        </tr>
        {% for item in get_items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.title }}</td>
        </tr>
        {% endfor %}
      </table>
      <hr>
      <a href="{{ url_for('add_item') }}">Add To-Do item</a>
    </ul>
  </div>
</div>
{% endblock %}