{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Add Item</h2>
    <form action="{{ url_for('index') }}" method="post" class="mb-3">
      <div class="form-group">
        <label for="title">Item Title:</label>
        <input type="text" id="title" name="item_title" required class="form-control" />
      </div>
      <div class="form-group">
        <label for="description">Item Description:</label>
        <input type="text" id="description" name="item_description" class="form-control" />
      </div>
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Add Item</button>
      </div>
    </form>

    <br>
    <h2>To-Do List:</h2>

    <ul class="list-group mb-4">
      {% for item in items %}
      <li class="list-group-item">
        <div class="row">
          <span class="col"><b>{{ item.title }}</b>: {{ item.status }}</span>
          <div class="col-auto">
            <form action="{{ url_for('delete_item', id=item.id) }}" method="post" class="d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% if item.status == 'Not Started' %}
            <form action="{{ url_for('in_progress_item', id=item.id) }}" method="post" class="d-inline">
              <button type="submit" class="btn btn-warning">Mark as In-Progress</button>
            </form>
            {% endif %}
            {% if item.status == 'In Progress' %}
            <form action="{{ url_for('complete_item', id=item.id) }}" method="post" class="d-inline">
              <button type="submit" class="btn btn-success">Mark as Completed</button>
            </form>
            {% endif %}
            {% if item.status == 'Completed' %}
            <form action="{{ url_for('uncomplete_item', id=item.id) }}" method="post" class="d-inline">
              <button type="submit" class="btn btn-primary">Mark as Incomplete</button>
            </form>
            {% endif %}
          </div>
        </div>
        {{ item.description }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}