{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items found by ID:</h2>
    <ul class="list-group mb-4">
      <!-- List the todo items here -->
      <table style="width:100%">
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Title</th>
        </tr>
        <tr>
          <td>{{ found_item.id }}</td>
          <td>{{ found_item.status }}</td>
          <td>{{ found_item.title }}</td>
        </tr>
      </table>
      <hr>
    </ul>
  </div>
</div>

<a class="btn btn-primary" href="{{url_for('edit_item', id=found_item.id)}}" role="button">Edit</a>
<p></p>
<a class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this item?');" href="/read_item/{{ found_item.id }}/delete">Delete Item</a>

{% endblock %}